{% extends "../sub_base2.html" %}
{% block title %}Privacy{% endblock %}
{% block content %}

<div class="container">
    <div>
        <h3 class="mb-4">User Privacy</h3>
        <p>At PVMP, we care deeply about privacy. We believe in 
            transparency, and we’re committed to being upfront about 
            our privacy practices, including how we treat your personal 
            information.</p>
        <p>We process your personal information to run our business and 
            provide our users with the Services. By accepting our Terms 
            of Use (and in some jurisdictions, by acknowledging this policy), 
            you confirm that you have read and understand this policy, 
            including how and why we use your information. If you don’t want 
            us to collect or process your personal information in the ways 
            described in this policy, you shouldn’t use the Services. We are not 
            responsible for the content or the privacy policies or practices of 
            any of our members, websites hosted through Pattern by PVMP, or third-party 
            websites and apps.</p>
        <p>PVMP’s Terms of Use require all account owners to be at least 18 years 
            of age. Minors under 18 years of age and at least 13 years of age are 
            permitted to use PVMP's Services only if they have permission and direct 
            supervision by the owner of the account. Children under age 13 are not 
            permitted to use the Services. You are responsible for any and all account 
            activity conducted by a minor on your account. We do not knowingly “sell,” 
            as that term is defined under applicable law, including the California 
            Consumer Privacy Act, the personal information of minors. More information 
            can be found in PVMP’s Minors Policy.</p>
        <p>By using the Services, you acknowledge that PVMP will use your information 
            in the United States, Ireland, and any other country where PVMP operates. 
            Please be aware that the privacy laws and standards in certain countries, 
            including the rights of authorities to access your personal information, 
            may differ from those that apply in the country in which you reside. We will 
            transfer personal information only to those countries to which we are 
            permitted by law to transfer personal information as more fully described 
            in the "Transfers" Section of this policy.</p>
    </div>
</div>

{% endblock %}