{% extends "../sub_base2.html" %}
{% block title %}Our Team{% endblock %}
{% block content %}

<style>
    section{
        margin: 0;
        padding: 25px 50px 75px;
        box-sizing: border-box;
        max-width: 1250px;
        height: 500px;
        background-color: #fff;
        font-family: "Century Gothic";
        min-height: 100vh;
        display: flex;
        justify-content: center;
    }
    
    .title{
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        color: #241352;
        margin: 10px 0;
        position: relative;
    }
    
    .title::after{
        content: "";
        position: absolute;
        width: 20%; height: 2px;
        background-image: linear-gradient(to left, transparent 5%, #726a95);
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .team-row{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 40px 0;
    }
    
    .member{
        margin: 20px;
        text-align: center;
        padding: 20px 10px;
        cursor: pointer;
        max-width: 300px;
        transition: all 0.3s;
    }
    
    .member:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        transform: translateY(-20px);
    }
    .member img{
        display: block;
        width: 150px; height: 150px;
        object-fit: cover;
        border: 4px solid #241352;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    .member h2{
        text-transform: uppercase;
        font-size: 24px;
        color: #241352;
        margin: 15px 0 
    }
    
    .member p{
        font-size: 15px;
        color: #838383;
        line-height: 1.6;
    }
</style>

<section id="section">
    <h1 class="title">Our Team</h1>
    <div class="team-row">
        <div class="member">
            <a href="https://www.instagram.com/lindahadan/?hl=en">
                <img src="media\images\Daniel.jpg" alt="">
            </a>
            <h2> Daniel Linder </h2>
            <p> Computer Science Senior
                <br> Potato Extraordinaire
            </p>

        </div>
        <div class="member">

            <img src="media\images\jam.jpeg" alt="">

            <h2> Ja'Maia Ricks </h2>
            <p> Computer Science Senior
                <br> Michigan to Texas
                <br> 21 years old
            </p>
        </div>
        <div class="member">
            <img src="media\images\Kobe.jpg" alt="">
            <h2> Kobe Luna </h2>
            <p> Computer Science Senior</p>
        </div>
        <div class="member">
            <img src="media\images\barbara.jpeg" alt="">
            <h2> Barbara Woods </h2>
            <p> Computer Science Senior
                <br> Houston, TX
                <br> 22 years old
            </p>
        </div>
        <div class="member">
            <img src="media\images\jacob.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
            <h2> Jacob Iniguez </h2>
            <p> Computer Science Senior</p>
        </div>
    </div>
</section>

{% endblock %}