{% extends "../sub_base2.html" %}
{% block title %}Our Team{% endblock %}
{% load static %}
{% block stylesheet %}
    {% static 'footer/about/team.css' %}
{% block content %}
    <div class="container">
        <div class="login d-flex align-items-center">
            <div class="col-12 col-md-12 col-lg-12 mx-auto">
                {% block sub_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

<section>
    <h1 class= "title">Our Team</h1>
    <div class= "team-row">
        <div class= "member">
            <img src = "maplogo180.jpeg" alt="">
            <h2> Daniel Linder </h2>
            <p> Computer Science Senior</p>
        </div>
        <div class= "member">
            <img src = "maplogo180.jpeg" alt="">
            <h2> Ja'Maia Ricks </h2>
            <p> Computer Science Senior</p>
        </div>
        <div class= "member">
            <img src = "maplogo180.jpeg" alt="">
            <h2> Kobe Luna </h2>
            <p> Computer Science Senior</p>
        </div>
        <div class= "member">
            <img src = "maplogo180.jpeg" alt="">
            <h2> Barbara Woods </h2>
            <p> Computer Science Senior</p>
        </div>
        <div class= "member">
            <img src = "maplogo180.jpeg" alt="">
            <h2> Jacob Iniguez </h2>
            <p> Computer Science Senior</p>
        </div>
    </div>
</section>