{% extends "../sub_base2.html" %}
{% block title %}Terms{% endblock %}
{% block content %}

<div class="container">
    <div>
        <h3 class="mb-4">Terms & Conditions</h3>
        <p><strong>Last Updated May 01,2022</strong></p>
        <p> Welcome to PVMP.com. PVMP.com Services LLC and/or its affiliates 
            ("PVMP") provide website features and other products and services to 
            you when you visit or shop at PVMP.com, use PVMP products or 
            services, use PVMP applications for mobile, or use software provided 
            by PVMP in connection with any of the foregoing (collectively, "PVMP 
            Services"). By using the PVMP Services, you agree, on behalf of yourself 
            and all members of your household and others who use any Service under 
            your account, to the following conditions.
        </p>
        <p>
            <h3>PLEASE READ THESE CONDITIONS CAREFULLY.</h3>
            We offer a wide range of PVMP Services, and sometimes additional 
            terms may apply. When you use an PVMP Service (for example, Your 
            Profile, Gift Cards, PVMP devices, or PVMP applications) you also 
            will be subject to the guidelines, terms and agreements applicable 
            to that PVMP Service ("Service Terms"). If these Conditions of 
            Use are inconsistent with the Service Terms, those 
            Service Terms will control. 
        </p>
        <p>
            <h4>Copyright</h4>
            All content included in or made available through any PVMP Service, 
            such as text, graphics, logos, button icons, images, audio clips, 
            digital downloads, data compilations, and software is the property of 
            PVMP or its content suppliers and protected by United States and 
            international copyright laws. The compilation of all content included 
            in or made available through any PVMP Service is the exclusive property 
            of PVMP and protected by U.S. and international copyright laws.
        </p>
        <p>
            <h4>Trademarks</h4>
            Graphics, logos, page headers, button icons, scripts, and service names 
            included in or made available through any PVMP Service are trademarks 
            or trade dress of PVMP in the U.S. and other countries. PVMP's 
            trademarks and trade dress may not be used in connection with any product 
            or service that is not PVMP's, in any manner that is likely to cause 
            confusion among customers, or in any manner that disparages or discredits 
            PVMP. All other trademarks not owned by PVMP that appear in any PVMP 
            Service are the property of their respective owners, who may or may not be 
            affiliated with, connected to, or sponsored by PVMP.
        </p>
        <p>
            <h4>Your Account</h4>
            You may need your own PVMP account to use certain PVMP Services, 
            and you may be required to be logged in to the account and have a valid 
            payment method associated with it. If there is a problem charging your 
            selected payment method, we may charge any other valid payment method 
            associated with your account. Visit Your Payments to manage your payment 
            options. You are responsible for maintaining the confidentiality of your 
            account and password and for restricting access to your account, and you 
            agree to accept responsibility for all activities that occur under your 
            account or password. PVMP does sell products for children, but it sells 
            them to adults, who can purchase with a credit card or other permitted payment 
            method. If you are under 18, you may use the PVMP Services only with 
            involvement of a parent or guardian. Parents and guardians may create profiles 
            for teenagers in their PVMP Household. Alcohol listings on PVMP are 
            intended for adults. You must be at least 21 years of age to purchase alcohol, 
            or use any site functionality related to alcohol. PVMP reserves the right 
            to refuse service, terminate accounts, terminate your rights to use PVMP 
            Services, remove or edit content, or cancel orders in its sole discretion.
        </p>
        <p>
            <h4>Pricing</h4>
            "List Price" means the suggested retail price of a product as provided by a 
            manufacturer, supplier, or seller. We regularly check List Prices against 
            prices recently found on Amazon and other retailers. Certain products may 
            have a "Was Price" displayed, which is determined using recent price history 
            of the product on Amazon.

            With respect to items sold by Amazon, we cannot confirm the price of an item 
            until you order. Despite our best efforts, a small number of the items in our 
            catalog may be mispriced. If the correct price of an item sold by Amazon is 
            higher than our stated price, we will, at our discretion, either contact you 
            for instructions before shipping or cancel your order and notify you of such 
            cancellation. Other merchants may follow different policies in the event of a 
            mispriced item.

            We generally do not charge your credit card until after your order has entered 
            the shipping process or, for digital products, until we make the digital product 
            available to you.
        </p>
    </div>
</div>

{% endblock %}